div.userscontainer {
   border: none;
   margin: 0;
   padding: 0;
   z-index: 10;   
}
div.userscontainer table,
div.userscontainer tr,
div.userscontainer td,
div.userscontainer th {font-family: Arial, sans-serif; font-size: 12px;background-color:transparent;border: none;background-image:none;}
div.userscontainer ul { list-style: square outside; margin: 10px 0px 10px 20px; }

div.userscontainer table.menubar {
   background-color: #ccc;
   border: none;
   border-bottom: 1px solid #666;
   padding: 5px;
   width: 100%;
   float:none;
}
div.userscontainer .propName {
		font-weight: bold;
	}
div.userscontainer td.propName {
		text-align: right;
	}
div.userscontainer .propValue {
	}

div.userscontainer tr.altRowBg {
		background-color: #EEEEEE;
	}
div.userscontainer tr.heading {
		font-size: 12px; 
		background-color: #CCCCCC;
		font-weight: bold;
	}
div.userscontainer tr.tblHeading {
		font-size: 12px; 
		background-color: #EEEEEE;
		font-weight: bold;
	}

div.userscontainer td.menuLabel {
		font-size: 12px; 
		background-color: #CCCCCC;
		font-weight: bold;
	}
div.userscontainer td.menuText {
		font-size: 12px; 
		background-color: #CCCCCC;
	}

div.userscontainer .formDesc {
		font-size: 11px;
	}

div.userscontainer .message,
div.userscontainer .errorMsg {
		color: #FF0000;
	}
	
	/* Global Link Classes */
div.userscontainer a:active {
		font-family: Arial, sans-serif; 
		font-size: 12px; 
		color: #1D5BB3; 
		text-decoration: underline;
	}
div.userscontainer a:link {
		font-family: Arial, sans-serif; 
		font-size: 12px; 
		color: #1D5BB3; 
		text-decoration: underline;
	}
div.userscontainer a:hover {
		font-family: Arial, sans-serif; 
		font-size: 12px; 
		color: #1D5BB3; 
		text-decoration: underline;
	}
div.userscontainer a:visited {
		font-family: Arial, sans-serif; 
		font-size: 12px; 
		color: #1D5BB3; 
		text-decoration: underline;
	}
div.userscontainer a.buttonLink:hover,
div.userscontainer a.buttonLink:visited,
div.userscontainer a.buttonLink:link,
div.userscontainer a.buttonLink:active
        {
		font-family: Arial, sans-serif; 
		font-size: 12px; 
		color: #1D5BB3; 
		text-decoration: none;
		margin-right: 10px;
	}
div.userscontainer a.buttonLinkRight {
		font-family: Arial, sans-serif; 
		font-size: 12px; 
		color: #1D5BB3; 
		text-decoration: none;
		margin-left: 10px;
		float: right;   
}

div.userscontainer hr.catdiv {
  		height: 1px;
                background: #FFFFFF;
		margin: 0px 0px 0px 0px;
	}
