@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?66l4cq');
    src:    url('fonts/icomoon.eot?66l4cq#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?66l4cq') format('truetype'),
        url('fonts/icomoon.woff?66l4cq') format('woff'),
        url('fonts/icomoon.svg?66l4cq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
    content: "\e900";
}
.icon-office:before {
    content: "\e901";
}
.icon-pencil2:before {
    content: "\e902";
}
.icon-quill:before {
    content: "\e903";
}
.icon-location:before {
    content: "\e904";
}
.icon-location2:before {
    content: "\e905";
}
.icon-floppy-disk:before {
    content: "\e906";
}
.icon-bubble:before {
    content: "\e907";
}
.icon-bubbles2:before {
    content: "\e908";
}
.icon-user-check:before {
    content: "\e909";
}
.icon-quotes-left:before {
    content: "\e90a";
}
.icon-quotes-right:before {
    content: "\e90b";
}
.icon-hour-glass:before {
    content: "\e90c";
}
.icon-binoculars:before {
    content: "\e90d";
}
.icon-lock:before {
    content: "\e90e";
}
.icon-unlocked:before {
    content: "\e90f";
}
.icon-wrench:before {
    content: "\e910";
}
.icon-cog:before {
    content: "\e911";
}
.icon-cogs:before {
    content: "\e912";
}
.icon-pie-chart:before {
    content: "\e913";
}
.icon-stats-dots:before {
    content: "\e914";
}
.icon-stats-bars:before {
    content: "\e915";
}
.icon-mug:before {
    content: "\e916";
}
.icon-leaf:before {
    content: "\e917";
}
.icon-fire:before {
    content: "\e918";
}
.icon-lab:before {
    content: "\e919";
}
.icon-magnet:before {
    content: "\e91a";
}
.icon-bin:before {
    content: "\e91b";
}
.icon-bin2:before {
    content: "\e91c";
}
.icon-power:before {
    content: "\e91d";
}
.icon-cloud:before {
    content: "\e91e";
}
.icon-cloud-download:before {
    content: "\e91f";
}
.icon-cloud-upload:before {
    content: "\e920";
}
.icon-cloud-check:before {
    content: "\e921";
}
.icon-earth:before {
    content: "\e922";
}
.icon-eye:before {
    content: "\e923";
}
.icon-eye-blocked:before {
    content: "\e924";
}
.icon-cross:before {
    content: "\e925";
}
.icon-checkmark:before {
    content: "\e926";
}
.icon-arrow-up-left:before {
    content: "\e927";
}
.icon-arrow-up:before {
    content: "\e928";
}
.icon-arrow-up-right:before {
    content: "\e929";
}
.icon-arrow-right:before {
    content: "\e92a";
}
.icon-arrow-down-right:before {
    content: "\e92b";
}
.icon-arrow-down:before {
    content: "\e92c";
}
.icon-arrow-down-left:before {
    content: "\e92d";
}
.icon-arrow-left:before {
    content: "\e92e";
}
.icon-arrow-up-left2:before {
    content: "\e92f";
}
.icon-arrow-up2:before {
    content: "\e930";
}
.icon-arrow-up-right2:before {
    content: "\e931";
}
.icon-arrow-right2:before {
    content: "\e932";
}
.icon-arrow-down-right2:before {
    content: "\e933";
}
.icon-arrow-down2:before {
    content: "\e934";
}
.icon-arrow-down-left2:before {
    content: "\e935";
}
.icon-arrow-left2:before {
    content: "\e936";
}
.icon-circle-up:before {
    content: "\e937";
}
.icon-circle-right:before {
    content: "\e938";
}
.icon-circle-down:before {
    content: "\e939";
}
.icon-circle-left:before {
    content: "\e93a";
}
.icon-filter:before {
    content: "\e93b";
}
.icon-embed:before {
    content: "\e93c";
}
.icon-embed2:before {
    content: "\e93d";
}

