body {
   font-family: Helvetica;
   line-height: 1.5em;
   font-size: 75%;
   padding: 0; 
   margin: 0;
   /*
   background-color: #eee;
   background-position: center;
   background-image: url('../images/lens-flare2.jpg');
   background-repeat: repeat-y;
   */
   /*
   background-color: white;
   background-image: url('../images/lens-flare-topdown.gif');
   background-repeat: repeat-x;
   background-position: top;
   */
}
div {
   padding: 0; margin: 0;
}
div.liner {
   padding: 10px;
}
div.pageliner {
   padding: 10px;
   padding-left: 30px;
   padding-right: 30px;
}
div#page {
   margin-top: 10px;
   /*margin-left: 15%;*/
   width: 900px;
   border: 1px solid #eee;
   /*
   background-color: #ddd;
   */
   /*
   border: 1px solid black;
   background-color: white;
   background-position: top;
   background-image: url('../images/lens-flare-topdown.gif');
   background-repeat: repeat-x;
   */
   background-color: transparent;
   /*   min-height: 500px; */
}
div.headerdiv {
   height: 40px;
}
div.footerdiv {
   /*
   border: 1px solid #ccc;
   padding: 10px;
   margin-top: 20px;
   */
      
   background-position: bottom;
   background-image: url('../images/lens-flare-bottomup.gif');
   background-repeat: repeat-x;
   
   padding: 10px;
}
div#logo-div {
/*   
   position: absolute;
   top: 0;
   right: 0;
   margin: 20px 17px 0 0;
*/
   float:right;
   background-color: white;
   border: 1px solid #ccc;
   padding: 5px;
   z-index: 6;
}
a#yhednlink, p#logotext, img#yhednlogo {
   width:100px;
   border: none;   
}

h1,h2 {
   text-align: left;
   font-size: 1.2em;
   color: #666;
}
table {
   width: 100%;
}
th {
   width: 150px;
   color: #333;
}
table,th,td {
   border-collapse: collapse;
   border: 1px solid #ccc;
   text-align:left;
   padding: 10px;
}
p {
   font-size: 1em;
   padding: 0;
   margin: 0;
   margin-top: 0.5em;
}
p.logged {
   font-size: smaller;
   float: right;
}
p.docdetails {
   font-weight: bold;
}
p.footer {
   font-size: 0.7em;
   line-height: 1.3em;
   text-transform: uppercase;
}


div#main {
   position: absolute;
   top: 0;
   left: 0;
   /*background-color:white;*/
   z-index: 3;
   width:100%;
   margin: 0;
   padding: 0;
   /*min-height: 500px;*/
   padding-bottom: 10px;
}
div.navbar {
   background-color: #ccf;
   border-bottom: 1px dotted #333;
   margin: 0;
   padding: 1px;
   height: 20px;
}
div#screen {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 6;
   background-color:white;
   width:100%;
   margin: 0;
   padding: 0;
   min-height: 500px;
   filter: alpha(opacity=80);
   -moz-opacity: 0.8;
   opacity: 0.8;
}
div#dialog-container {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   background-color: transparent;
   width:100%;
   margin: 0;
   padding: 0;
   min-height: 500px;
}
div#dialog {
   background-color: white;
   width: 60%;
   margin-left: 20%;
   margin-top: 5%;
   padding: 0;
   min-height: 300px;
   border: 1px solid #333;
}

button {
   border: 1px solid #333;
   letter-spacing: 2px;
   font-weight: bold;
   color: #999;
   background-color: #fff;
   text-transform: uppercase;
   font-family: Arial, sans-serif;
}
button:hover {
   color: #333;
   background-color: #ccc;
}
button.disabled {
   border: 1px solid #999;
   letter-spacing: 2px;
   font-weight: bold;
   color: #999;
   background-color: #ccc;
   text-transform: uppercase;
   font-family: Arial, sans-serif;
}
button.disabled:hover {
   color: #999;
   background-color: #ccc;   
}

button.close {
   float:right;
}

                                  
