body {
   font-family: Helvetica, sans-serif;
   line-height: 150%;
}
div {
   text-align: left;
}
div#content {
   background-color: transparent;
}
div.s2hiddenparent {
   display: hidden;
   height: 0;
   overflow: none;   
}
#s2logo {
   float:right;
   height:40px;
   margin:0 2px 10px 0;
}
#s2heading {
   float:left;
   font-family: Georgia, serif;
   font-size:200%;
   font-weight:bold;
   margin: 10px 0 0 0;
}
h1.s2rep_search-name {
   float: right;
   clear: right;
   font-family: Georgia, serif;
   color:#666;
   font-size:1em;
   font-weight:normal;
   margin: 10px 0 0 0;
}
div#speciescontainer {
   background-color: transparent;
}
hr {
   padding: 0;
   margin: 0;
   height: 1px;
   clear:both;
}
h2,h3 {
   font-family: Georgia, serif;
}
h3 {
   text-transform: uppercase;
   line-height: 120%;
}
#dialog button {
   /*float:right;*/ 
   margin: 5px 5px 5px 0; 
}
button.flipencrypt {
   float:left;                                                                                         
   margin: 10px 0 0 10px;
   padding: 2px 0 2px 0;
}
button.flipextend {
   float:left;                                                                                         
   margin: 10px 0 0 10px;
   padding: 2px 0 2px 0;
}
button.fliporder {
   float:left;                                                                                         
   margin: 10px 0 0 10px;
   padding: 2px 0 2px 0;
}
button.flip {
   float:left;                                                                                         
   margin: 10px 0 0 10px;
   padding: 2px 0 2px 0;
}
button.inlineexport {
   float: right;
   border: none;
   padding: 0;
   margin: 0 10px 0 10px;
   text-align: center;
   vertical-align: middle; 
}
button.inlineextender {
   float: right;
   border: none;
   padding: 0;
   margin: 0 10px 0 10px;
   text-align: center;
   vertical-align: middle; 
}
button.inlineextender img {
   width: 16px;
   height: 16px;
}
button.inline {
   float: right;
   border: none;
   padding: 0;
   margin: 0 10px 0 10px;
   text-align: center;
   vertical-align: middle; 
}
button.inline img {
   width: 20px;
   height: 20px;
}

button.s2iconbutton {
   float:right;
   padding: 0 0 0 0;
   margin: 0 5px 0 5px;
}
button.s2delbutton {
   padding: 0 0 0 0;
   margin: 0 5px 0 5px;
}
button.s2addbutton {
   float:right;
   padding: 0 0 0 0;
   margin: 0 5px 0 5px;
}
button#s2_interfacebutton {
   float:right;
   padding: 0 0 0 0;
   margin: 0 5px 0 5px;
}
#incontentdialog button {
   margin: 2px 0 2px 0;
}
#incontentdialog input.tick {
   float:right;
   width:auto;
   margin: 4px 0 0 0;
   padding: 0;
   display:block
}
div.addinfo {
   display: none;
   height: 0;
}
div.pagelinksdiv, div.searchbydiv {
   float:right;
   clear:right;
   border-left: 1px solid #ccc;
   padding: 0 3px 0 3px;
   margin: 1px;
}
div.s2tooltip {
   padding: 10px 20px 10px 20px;
}

div.s2_iHelp,
div.s2_iHelpV {
   padding: 5px;                                                                                        
   margin: 5px 0 5px 0;
   border: 1px solid #ccc;
}

div.s2_iHelp {
   height: 30px;
   overflow: hidden;      
}
div.s2_iHelp * {
   display: none;
}
div.s2_iHelp button {
   display: block;
   border: 1px solid transparent;
}
div.s2_iHelp button:hover {
   display: block;
   border: 1px solid #999;
   background-color: #ccc;
}
div.s2_iHelp button * {
   display: block;
}

div.s2_iHelpV {
   height: auto;
   overflow: auto;      
}
div.s2_iHelpV * {
   display: block;   
}
table {
   border-collapse: collapse;
}
table#calendartab {
   margin: 10px 0 10px 0;
}
table.addform, table.listform {
   margin-bottom: 10px;
}
tr {
   background-color: transparent;
}
th.activity {
   text-transform: none;
   font-weight: normal;
   font-size: smaller;
}
td input {
   /*border: 1px dotted #999;*/
   border: none;
   margin: 1px;
   padding: 2px;
   background-color: transparent;
   width: 96%;
}
td textarea {
   /*border: 1px dotted #999;*/
   border: none;
   margin: 1px;
   padding: 2px;
   background-color: transparent;
   width: 96%;
   font-family: Arial, sans-serif;
   font-size: 1em;
   line-height: 150%;
}
td select {
   width: 96%;
   margin:1px;
}
td.s2pp_completed {
   background-color: #cfc;
}
td.s2pp_notrun {
   background-color: #ffd;
}
td.s2pp_failed {
   background-color: #fcc;
}
optgroup option {
   text-transform: none;
   font-size: 1em;
}
optgroup {
   font-style: normal;
   font-weight: bold;
   font-size: 1em;
   padding: 4px;
}
th button {
   border: none;
   display: inline;
   background-color: transparent;
   text-transform: none;
}
th button:hover {
   text-decoration: underline;
}
ol.top-menu {
   margin:0;
   margin-left: 0;
   padding-left: 0;
   margin-bottom: 3px;
}
ol.top-menu li {
   display:inline;
   margin: 0;
   margin-right: 5px;
   padding: 0;
}
ol.top-menu button {
   border: none;
   margin: 0;
   text-transform: none;
   font-weight: normal;
   padding: 3px;
   padding-top: 1px;
   padding-bottom: 1px;
   width:auto;
   overflow:visible;
}
.viewmenu button {
   color: #666;
   border: none;
}
li h3 {
   display: inline;
}
.s2ul_intable {
   margin: 0 0 0 5px;
   padding: 0 0 0 0;
   list-style-type: none;
}
.s2li_intable {
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   list-style-type: none;
}
div.tabbedcontainer {
   margin-top: 20px;
}
div.tabbedpane {
   display:none;
}
div.tabbedpane h2 {
   margin-top: 20px;     
}
div#tabbedpane_current {
   display:block;
   margin-top: 0;
   padding: 10px 30px 10px 30px;
   overflow: auto;
}
.aright {
   text-align: right;
}
#top-menus div {
   padding:2px;
   margin:0 5px 5px 0;
   float:left;
}
#top-menus h3 {
   display: inline;
}  
#top-menus h4 {
   display: inline;
}  
#top-menus button {
   border: none;
   text-transform: none;
   letter-spacing: -1px;
}
#top-menus button.snc_menu_setting {
   float:left;
}
#top-menus img.snc_menu_remove_setting {
   float: right;
   width: 10px;
   height: 10px;
   padding: 0;
   margin: 2px 0 2px 0;
}

#left-menus {
   float:left;
   width:200px;
   margin: 5px 0 10px 0;
}
#left-menus h3 {
   margin: 5px 0 5px 0;
}
#left-menus button, button.lmtype {
   text-transform: none;
   letter-spacing: 0;
   width: 20px;
   height: 20px;
   text-align: center;
   margin-right: 2px;
}
#left-menus button.showhide {
   float:right;
   margin: 0;
}

.left-menu {
   margin: 5px 5px 5px 5px;
   padding: 5px;
}
#left-menus h4 {
   margin: 6px 0 0 0;
}
#left-menus ul {
   margin-left: 1.5em;
   padding-left: 0;
}
#left-menus li {
   list-style-type: disc;
   margin-left: 0;
   padding: 0 5px 0 5px;
}
#incontentdialog {
   clear:right;
   float:right;
   margin-right: 0;
   margin-bottom: 10px;
   width:70%;
}
.bordered {
   margin: 5px;
   padding: 10px 20px 10px 20px;
   width: auto;   
} 
#content {
   clear:right;
}
a.ListEntry:link,                           
a.ListEntry:visited {
   color: #006;
}
a.ListEntry:hover,
a.ListEntry:active {
   text-decoration:underline;
   color: #336;            
   cursor: hand;
}

span.listnav {
   margin: 0 10px 0 10px;
   font-weight: bold;
   letter-spacing: 0;
}
a.listnav {
   margin: 0 10px 0 10px;
   font-weight: bold;
   letter-spacing: 0;
}
a.listnav:link,                           
a.listnav:visited {
   text-decoration:none;
}
a.listnav:hover,
a.listnav:active {
   text-decoration:underline;
   cursor: hand;
}

#left-menus h4 {
   margin-bottom: 0;
   padding-bottom: 0;
   font-size: 1em;
}
#left-menus li {
   padding: 0;
   margin: 0;
}

table input.Short_Text,
table input.Number {
   border: none;
}

table#calendartab {
   width: 300px;
}
table#calendartab th, 
table#calendartab td {
   padding: 2px 0 2px 0; 
   margin: 0;
   vertical-align: middle;
   text-align: center;
}

button.disabled {
   letter-spacing: 2px;
   font-weight: bold;
   font-family: Arial, sans-serif;
}
img.s2_thumbnail {
   width: 120px;
}
img.s2_medsize {
   width: 320px;
}
a.s2_imglink {
   border: none;
} 
a.s2_imglink img {
   padding: 2px;
   margin: 1px;
}
a.viewmenulink {
   white-space: nowrap;
}
span.viewmenulink {
   margin-right: 5px;
   text-decoration: underline;
}

div.s2filecontainer button,
div.qq-uploader button {
   border: none;
}

/* potential workaround for IE5,6 cookie size limitations */ 

tr.s2_iDuplicate {
   background-color: #ffc; 
}
tr.s2_iImported {
   background-color: #cfc; 
}
tr.s2_iFailed {
   background-color: #fcc; 
}
tr.s2_iDuplicate td,
tr.s2_iImported td,
tr.s2_iFailed td {
   background-color: transparent;
}
div.s2_iImportTable {
   padding: 5px 0 5px 0;
   margin: 5px 0 5px 0;
   border: none;
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
   height: 300px;
   overflow: auto;
   clear:both; 
}

.s2rep_search-name {
   float:right;
}
.s2rep_data-container {
   
}
.s2rep_section-container {
   border: 1px solid #ccc;
   /*
   border-left: none;
   border-right: none;
   */
   margin: 5px 0 40px 0;
   background-color: #eee;
}
.s2_hiddensection {
   visibility: hidden;
   display: none;
   height: 0;
   width: 0;
}
.s2_visiblesection {
   visibility: visible;
   display: block;
   height: auto;
   width: auto;
   margin: 0 0 30px 0;
   padding: 0 5px 0 5px;
}
button.s2_expander {
   border: 1px solid #ccc;
   margin-right: 10px;
   margin-left: 5px;
   padding: 0;
}
/*
button.s2_expander:hover {
   background-color: #aaf;
}
*/
img.s2_expander {
   width: 14px;
   height: 14px;
   border: none;
   margin: 0;
   padding: 0;      
} 

/*
 * Rewrite file list container to list scrollable files by date
 */
 

.s2filecontainer {
	
	overflow: scroll;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	
	.s2-upload-date {
		
		background-color: #ccc;
		
		h4 {
			color: #333;
			margin: 0;
			padding: 0.2em 0.2em;
		}
		
		.s2-upload-file {
			clear: both;
			padding: 0.4em 0.2em 1em 0.2em;
			
			&:nth-child(odd) {
				background-color: #eef;
			}
			&:nth-child(even) {
				background-color: #efe;
			}
			
			button {
				clear: right;
				float: right;
			}
		}
	}

}

.userData {
	behavior: url(#default#userData);
}
