body {
	font-family: Verdana, sans-serif;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	font-size: 80%;
	background-color:black;
	color: #000;
	text-justify: distribute-all-lines;
}
div#page {
	/*margin:10px;
	margin-left:10%;*/
	width: 900px;
	background-color:white;
}
div#report-page {
   border: 1px solid #999;
   margin: 20px 160px 20px 160px;
   padding: 0; 
   background-color:white;
}
div.report-liner {
   padding: 20px 40px 20px 40px; 
}
div#header {
	clear:both;
	float:left;
	background-image:url('./images/topleft.gif');
	background-position:top left;
	background-repeat: no-repeat;
	background-color:white;
	width:100%;
	height: 100px;
}
div#footer {
	clear:both;
	float:left;
	background-image:url('./images/bottomright.gif');
	background-position:bottom right;
	background-repeat: no-repeat;
	background-color:white;
	width:100%;
	height:100px;
}
div#content {
	clear:both;
	float:left;
	width:100%;
	background-color:white;
}
div.liner {
	padding:10px;
}
div.hliner {
	padding:10px;
	padding-left:100px;
}
div.fliner {
	padding:10px;
	padding-right:100px;
}

