/*
body {
   font-family: Verdana, sans-serif;
   color: #336;
   font-size: 100%;
   background-color: white;
	text-justify: distribute-all-lines;
}
div#page {
   float:left;
   width: 70%;
   margin-left: 15%;
   margin-top: 20px;
   margin-right: 13%;
   padding: 10px;
   border: 1px solid #ccc;
   background-color: #999;
}

div.liner {
   padding: 10px;
}
*/
div.navbar {
   background-color: #ccf;
   border-bottom: 1px dotted #333;
   margin: 0;
   padding: 1px;
   height: 20px;
}
div#main {
   position: absolute;
   top: 0;
   left: 0;
   /*background-color:white;*/
   z-index: 3;
   width:100%;
   margin: 0;
   padding: 0;
   /*min-height: 500px;*/
   padding-bottom: 20px;
}
div#screen {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   background-color:#000;
   width:100%;
   margin: 0;
   padding: 0;
   min-height: 500px;
   filter: alpha(opacity=80);
   -moz-opacity: 0.8;
   opacity: 0.8;
}
div#dialog-container {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   background-color: transparent;
   width:100%;
   margin: 0;
   padding: 0;
   min-height: 500px;
}
div#dialog {
   background-color: white;
   width: 60%;
   margin-left: 20%;
   margin-top: 5%;
   padding: 0;
   min-height: 300px;
   border: 1px solid #333;
}
div#logo-div {
   border: 1px solid #ccc;
   background-color: white;
   float:left;
   margin: 0;
   padding: 5px;
   z-index: 6;
}
a#yhednlink, p#logotext, img#yhednlogo {
   width:180px;   
}
div#addrecords-div, div#recordtable-div {
   border-top: 1px solid #ccc;
}
a.imagelink,img.imagelink {
   border: none;
   padding: 0;
   margin: 0;
}
p.footer {
   letter-spacing: 4.3px;
   text-transform: uppercase;
   font-size: 0.6em;
   padding: 0;
   margin: 0;
}
h1 {
   font-size: 1.5em;
}
h1#title {
   font-size: 3em;
   line-height: 1.2em;
   letter-spacing: 10px;
   float:right;
}
h1.sectionheading {
   /*display:inline;*/
   clear:both;
   font-family: Verdana, sans-serif;
   letter-spacing: 5px;
   line-height: 2em;
}
h2 {
   font-family: Verdana, sans-serif;
   font-size: 1.3em;
   letter-spacing: 1px;
   margin-top: 5px;   
   margin-bottom: 5px;
}
table {
   border-collapse: collapse;
   border: 1px solid #ccc;   
}
tr,th,td {
   border: 1px dotted #ccc;
   padding: 5px;
}
tr {
   background-color: #fcf;
   color: #000;
}
thead tr {
   background-color: #ccc;
}
thead td {
   padding:1px;
}
th {
   font-weight: bold;
   font-size: 0.8em;
   text-align: left;
   background-color: #666;
   color: #fff;
}
td {
   font-size: 0.8em;
}
input.text {
   border: none;
   background-color: transparent;
   margin: 0;
   padding: 0;
}
input.rtable {
   border: none;
   background-color: transparent;
   margin: 0;
   padding: 0;
   width: auto;
}
select {
   border: 1px solid #333;
   background-color: #fee;
   width: 120px;
}
textarea.comment {
   font-family: Verdana, sans-serif;
   font-size: 0.8em;
   border: none;
   background-color: transparent;
   margin: 0;
   padding: 0;
   height: 105px;
   width: 307px;
}
textarea.rtable {
   font-family: Verdana, sans-serif;
   font-size: 0.8em;
   border: none;
   background-color: transparent;
   margin: 0;
   padding: 0;
   height: auto;
   width:auto;
}
button {
   border: 1px solid #333;
   letter-spacing: 2px;
   font-weight: bold;
   color: #999;
   background-color: #fff;
   text-transform: uppercase;
   font-family: Arial, sans-serif;
}
button:hover {
   color: #333;
   background-color: #ccc;
}
button.close {
   float:right;
}
button.showhide {
   background-color: transparent;
   margin: 5px;
   padding: 2px;
   color: #ccc;
   border-color: #ccc;
   float:right;
}
button.showhide:hover {
   background-color: #666;
}

th.day {
   text-align: center;
   width: 40px;
}
th.day h3 {
   color: #fff;
}
td.day {
    text-align: center;
    color: black;
    width: 40px;
    background-color: #fcf;
}
td.today {
    text-align: center;
    color: #fcf;
    background-color: #633;
    font-weight: bold;
}
td.select {
    text-align: center;
    color: #fcf;
    background-color: #333;
    font-weight: bold;
}
.calendar {
   width: 300px;
}
