.pbar-container {
   padding:1px;
   margin: 5px 0 5px 0;
   border: 1px solid #ccc;
}
.pbar-bar {
   padding:0;
   margin: 0;
   border: 0;
   background-image: url('../images/pb_background.gif');
   background-repeat: repeat-x;
   background-position: center;
   height: 12px !important;
   font-size: 8px;
}
.pbar-status {
   padding:0;
   margin: 0;
   border: 0;
   height: 12px !important;
   background-color: #6f6;
   font-size: 8px;
}
.pbar-statustext {
   color: #009;
   background-color: #eee;
   font-family: Helvetica, sans-serif;
   font-size: 8px;
   line-height: 12px;
   text-align: right;
   float:right;
}
.pbar-status .pbar-statustext {
   background-color: #cfc;
   border: 1px solid #6f6;
   border-right: 2px solid #6f6;
   line-height: 10px;
}