@page {
   size: landscape;
   size: 19cm 27cm; 
   margin: 1cm;  
}

body {
   font-family: Helvetica, sans-serif;
   font-size: 10pt;
   line-height: 130%;
}
div {
   text-align: left;
}
div#s2rep_data h1 {
   font-size: 2em;
   font-weight: normal;
   color: #999;
}
div#s2rep_data h3 {
   font-weight: normal;
   color: #666;
}

body.landscape {
   size: 18cm 26cm landscape;
}                 
#page {
   width: 18cm !important;
   margin: 0;
   padding: 0;
}
#page #incontentdialog {
   width: 18cm !important;
   margin: 0;
   padding: 0;
}
#report-page #incontentdialog {
   width: 26cm !important;
}
#yhednlink {
   float:right;
   border: none;
}

#yhednlogo {
   border: none;
   height: 30px;   
}
#s2logo {
   float:right;
   height:40px;
   margin:0 5px 10px 0;
}
.s2logo {
   float:right;
   height:40px;
   margin:0 10px 10px 0;
}
.s2icon {
   margin: 0 5px 0 5px;
   width: 26px;
   height: 26px;
}

#s2heading {
   color:#666;
   float:left;
   font-family: Georgia, serif;
   font-size:20pt;
   font-weight: normal;
   margin: 20px 0 0 0;
}
h1.s2rep_search-name {
   float: right;
   clear: right;
   color:#666;
   font-family: Georgia, serif;
   font-size:14pt;
   font-weight: normal;
   margin: 20px 0 0 0;
}
h2 {
   font-family: Georgia, serif;
   font-weight: normal;
   font-size: 14pt;
   text-align: left;
}
h3 {
   font-weight: bold;
   text-transform: uppercase;
   font-size: 12pt;
   text-align: left;
}

.userscontainer, .contactscontainer, .viewmenu, .searchbydiv, .pagelinksdiv {
   display: none;
}
#left-menus {
   display: none;
}
#page table { 
   width: 18cm;
}
#report-page table {
   width: 26cm;
}
#report-page th, #report-page td {
   padding: 2pt;
}
table,tr,th,td {
   border-collapse: collapse;
   border: 1px solid #ccc;
   font-size: 1em;
}
th {
   text-align: left;
}
th.left {
   text-align: left;
   vertical-align: top;
   width: 4cm;
   font-size: 1em;
}
td {
   width: auto;
   padding: 0;
   margin: 0;
   font-size: 1em;
}
.s2_optionsnode {
   width: 0;
   display:none;
}
table.addform th,
table.listform td,
table.listform th,
table.extform td,
table.extform th {
   padding: 4px 10px 4px 10px;
}
td input, td textarea {
   font-family: Helvetica, sans-serif;
   font-size: 10pt;
   display: block;
   border: none;
   width: 100%;
   padding: 4px 10px 4px 10px;
   margin: 0;
}
hr {
   padding: 0;
   margin: 0;
   height: 1px;
   background-color: #999;
   border: none;
   color: #999;
   display:block;
   clear:both;
}
input, button {
   display: none;
   width: auto;
}
a {
   text-decoration: none;
   color: inherit;  
}
