body {
   /* background-image: url("../images/textile3.gif");*/
   background-image: url("../images/hatch1.gif");
   background-repeat: repeat;
   background-color: white;
}
div#page {
   /*border: 1px solid #eee;*/
   background-color: #fff;
}
#s2heading {
   color:#333;
}
hr {
   background-color: #eee;
   border: none;
   color: #eee;
}
h3 {
   color: #666;
}
.latin {
   font-style: italic;
   color: #600;
}
.s2taxondictionary {
   list-style-type: disc;
}
button.flipencrypt {
   /*
   border:none;
   background-color:transparent;
   */
   background-color: white;
   border: 1px solid #ccc;
}
button.flipextend {
   /*
   border:none;
   background-color:transparent;
   */
   background-color: white;
   border: 1px solid #ccc;
}
button.fliporder {
   background-color: white;
   border: 1px solid #ccc;
}
button.flipexport {
   background-color: white;
   border: 1px solid #ccc;
}
button.s2iconbutton {
   border:1px solid #ccc;
}
button.s2delbutton {
   background-color: transparent;
   color: #999;   
   border: none;
}
button.s2delbutton:hover {
   background-color: #fff;
   color: black;
   text-decoration: underline;   
}
button.s2addbutton {
   border:1px solid #ccc;
}
button#s2_interfacebutton {
   border:1px solid #ccc;
}
div.s2tooltip {
   border: 1px solid #999;
   background-color: #fff;
   background-image: url('../images/helptip_60px.gif');
   background-repeat: no-repeat;
   background-position: right;
   color: #333;
}
div.s2_iHelp,
div.s2_iHelpV {
   border: 1px solid #999;
   background-color: #fff;
   background-image: url('../images/helptip_60px.gif');
   background-repeat: no-repeat;
   background-position: right;
}
tr.currentversion,
td.currentversion {
   background-color: #ccc;
}
tr.autodata,
td.autodata {
   background-color: #eee;
}
td.autodata input, 
td.currentversion input {
   color: black;
}
th {
   border: 1px solid #ccc;
   background-color: #eef;
   color: #333;
}
td {
   border: 1px solid #ccc;
   background-color: #fee;
   /* 
   background-color: transparent;
   background-position: top;
   background-image: url('../images/lens-flare-topdown.gif');
   background-repeat: repeat-x;
   */   
}
button {
   border: 1px solid #333;
   color: #666;
   background-color: #fff;
   
}
ol.top-menu li {
   border: 1px solid #999;
   border-top: none;
   border-bottom: none;
}
ol.top-menu button:hover {
   background-color: #ccc;
   color: #333;
}
div#tabbedpane_current {
   border: 1px solid #999;
}
#top-menus div {
   /* border: 1px solid #666; */
   /*background-position: top;
   background-image: url('../images/lens-flare-topdown.gif');
   background-repeat: repeat-x;
   */
   border-right: 1px solid #999;
}
#top-menus button {
   background-color: transparent;
   color: #666;
}
#left-menus {
   /*
   background-position: bottom;
   background-image: url('../images/lens-flare-bottomup.gif');
   background-repeat: repeat-x;
   */
   border-right: 1px solid #eee;
}
#left-menus button, button.lmtype {
   border: none;
   background-color: transparent;
   color: #333; 
}
#left-menus button:hover, button.lmtype:hover {
   color: #000;
   text-decoration: underline;
   background-color: #eee;
}
#left-menus button.showhide {
   border: none;
   background-color: transparent;
}
.left-menu {
   /* border: 1px solid #666; */
   background-color: white;
   /*
   background-position: bottom;
   background-image: url('../images/lens-flare-bottomup.gif');
   background-repeat: repeat-x;
   */
}
.bordered {
   border: 1px solid #666;
   background-color: #fff;
}
.notbordered {
   border: none;
   background-color: transparent;      
}       
a.ListEntry:link,                           
a.ListEntry:visited {
   color: #006;
}
a.ListEntry:hover,
a.ListEntry:active {
   color: #336;            
}
span.listnav {
   color: #999;
}
a.listnav {
   color: #000;
}
button.disabled {
   border: 1px solid #333;
   color: #666;
   background-color: #ccc;
   text-transform: uppercase;
}
button.disabled:hover {
   color: #666;
   background-color: #ccc;
}
a.s2_imglink img {
   border: 1px solid #999;
}
a.s2_txtlink {
   color: #006;
}
a.s2_txtlink:hover {
   color: #336;
}
span.viewmenulink {
   color: #000;
}