#erfooter {
	clear:both;
	float:left;
	background-image:url('../images/erfooter.gif');
	background-position:bottom center;
	background-repeat: no-repeat;
	background-color:white;
	width:100%;
	height:100px;
}
#erpage-liner {
   margin: 10px; 
}
.erpage-section {
   clear:both;
   border-bottom: 1px solid #eee;
   margin: 10px 0;
}