<div class='section' id='page1-section1-heading'>
<h1>Local Wildlife Site - Citation Report</h1>
</div>

<div class='section' id='page1-section2-sitename'>
<table><tbody>
<tr><th>Site Name</th><td id='sitename'>[insert data]</td><th>Site Code</th><td id='sitecode'>[insert data]</td></tr>
</tbody></table>
</div>

<div class='section' id='page1-section3-siteinfo'>
<h2>Site information</h2>
<table>
<tbody>
<tr><th>Site Area</th><td id='sitearea'>[insert data]</td></th>
<tr><th>Survey Date</th><td id='surveydate'>[insert data]</td></th>
<tr><th>Designation</th><td id='designation'>[insert data]</td></th>
</tbody>
</table>
</div>

<div class='section' id='page1-section4-locationinfo'>
<h2>Location information</h2>
<table>
<tbody>
<tr><th>Gridref</th><td id='gridref'>[insert data]</td></th>
<tr><th>District / Borough / Unitary Authority</th><td id='authority'>[insert data]</td></th>
<tr><th>Parish</th><td id='parish'>[insert data]</td></th>
<tr><th>Owner</th><td id='owner'>[insert data]</td></th>
<tr><th>Natural Area</th><td id='naturalarea'>[insert data]</td></th>
</tbody>
</table>
</div>

<div class='section' id='page1-section5-topography'>
<h2>Topography</h2>
<table>
<tbody>
<tr><th>Geology</th><td id='geology'>[insert data]</td></th>
<tr><th>Soil Type</th><td id='soiltype'>[insert data]</td></th>
<tr><th>Adjacent land use</th><td id='adjacentlanduse'>[insert data]</td></th>
<tr><th>Aspect</th><td id='aspect'>[insert data]</td></th>
</tbody>
</table>
</div>

<div class='section' id='page1-section6-sitedescription'>
<h2>Description</h2>
<table>
<tbody>
<tr><th>Habitats (Area in ha)</th><td id='habitat_broad'>[insert data]</td></th>
<tr><th>NVC Communities</th><td id='habitat_nvc'>[insert data]</td></th>
<tr><th>BAP priority habitats</th><td id='habitat_bap'>[insert data]</td></th>
<tr><th>Description</th><td id='sitedescription'>[insert data]</td></th>
</tbody>
</table>
</div>

<div class='section' id='page1-section7-siteevaluation'>
<h2>Site evaluation</h2>
<table>
<tbody>
<tr><th>Criteria</th><td id='eval_criteria'>[insert data]</td></th>
<tr><th>Description</th><td id='eval_description'>[insert data]</td></th>
</tbody>
</table>
</div>

<div class='section' id='page1-section8-footer'>
<div class='footerdiv'>
<p class='docdetails' id='p1details'>[insert data]</p>
<p class='footer' id='p1footer'>[insert data]</p>
</div>
</div>

