/*
body {
   font-family: Verdana, sans-serif;
   color: #336;
   font-size: 100%;
   background-color: white;
	text-justify: distribute-all-lines;
}
div#page {
   float:left;
   width: 70%;
   margin-left: 15%;
   margin-top: 20px;
   margin-right: 13%;
   padding: 10px;
   border: 1px solid #ccc;
   background-color: #999;
}

div.liner {
   padding: 10px;
}
*/
div.navbar {
  background-color: #ccf;
  border-bottom: 1px dotted #333;
  margin: 0;
  padding: 1px;
  height: 20px; }

div#main {
  position: absolute;
  top: 0;
  left: 0;
  /*background-color:white;*/
  z-index: 3;
  width: 100%;
  margin: 0;
  padding: 0;
  /*min-height: 500px;*/
  padding-bottom: 20px; }

div#screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 500px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8; }

div#dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 500px; }

div#dialog {
  background-color: white;
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  padding: 0;
  min-height: 300px;
  border: 1px solid #333; }

div#logo-div {
  border: 1px solid #ccc;
  background-color: white;
  float: left;
  margin: 0;
  padding: 5px;
  z-index: 6; }

a#yhednlink, p#logotext, img#yhednlogo {
  width: 180px; }

div#addrecords-div, div#recordtable-div {
  border-top: 1px solid #ccc; }

a.imagelink, img.imagelink {
  border: none;
  padding: 0;
  margin: 0; }

p.footer {
  letter-spacing: 4.3px;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 0;
  margin: 0; }

h1 {
  font-size: 1.5em; }

h1#title {
  font-size: 3em;
  line-height: 1.2em;
  letter-spacing: 10px;
  float: right; }

h1.sectionheading {
  /*display:inline;*/
  clear: both;
  font-family: Verdana, sans-serif;
  letter-spacing: 5px;
  line-height: 2em; }

h2 {
  font-family: Verdana, sans-serif;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 5px; }

table {
  border-collapse: collapse;
  border: 1px solid #ccc; }

tr, th, td {
  border: 1px dotted #ccc;
  padding: 5px; }

tr {
  background-color: #fcf;
  color: #000; }

thead tr {
  background-color: #ccc; }

thead td {
  padding: 1px; }

th {
  font-weight: bold;
  font-size: 0.8em;
  text-align: left;
  background-color: #666;
  color: #fff; }

td {
  font-size: 0.8em; }

input.text {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0; }

input.rtable {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: auto; }

select {
  border: 1px solid #333;
  background-color: #fee;
  width: 120px; }

textarea.comment {
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: 105px;
  width: 307px; }

textarea.rtable {
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto; }

button {
  border: 1px solid #333;
  letter-spacing: 2px;
  font-weight: bold;
  color: #999;
  background-color: #fff;
  text-transform: uppercase;
  font-family: Arial, sans-serif; }

button:hover {
  color: #333;
  background-color: #ccc; }

button.close {
  float: right; }

button.showhide {
  background-color: transparent;
  margin: 5px;
  padding: 2px;
  color: #ccc;
  border-color: #ccc;
  float: right; }

button.showhide:hover {
  background-color: #666; }

th.day {
  text-align: center;
  width: 40px; }

th.day h3 {
  color: #fff; }

td.day {
  text-align: center;
  color: black;
  width: 40px;
  background-color: #fcf; }

td.today {
  text-align: center;
  color: #fcf;
  background-color: #633;
  font-weight: bold; }

td.select {
  text-align: center;
  color: #fcf;
  background-color: #333;
  font-weight: bold; }

.calendar {
  width: 300px; }

body {
  font-family: Verdana, sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  font-size: 80%;
  background-color: black;
  color: #000;
  text-justify: distribute-all-lines; }

div#page {
  /*margin:10px;
  margin-left:10%;*/
  width: 900px;
  background-color: white; }

div#report-page {
  border: 1px solid #999;
  margin: 20px 160px 20px 160px;
  padding: 0;
  background-color: white; }

div.report-liner {
  padding: 20px 40px 20px 40px; }

div#header {
  clear: both;
  float: left;
  background-image: url("./images/topleft.gif");
  background-position: top left;
  background-repeat: no-repeat;
  background-color: white;
  width: 100%;
  height: 100px; }

div#footer {
  clear: both;
  float: left;
  background-image: url("./images/bottomright.gif");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: white;
  width: 100%;
  height: 100px; }

div#content {
  clear: both;
  float: left;
  width: 100%;
  background-color: white; }

div.liner {
  padding: 10px; }

div.hliner {
  padding: 10px;
  padding-left: 100px; }

div.fliner {
  padding: 10px;
  padding-right: 100px; }

body {
  font-family: Helvetica;
  line-height: 1.5em;
  font-size: 75%;
  padding: 0;
  margin: 0;
  /*
  background-color: #eee;
  background-position: center;
  background-image: url('../images/lens-flare2.jpg');
  background-repeat: repeat-y;
  */
  /*
  background-color: white;
  background-image: url('../images/lens-flare-topdown.gif');
  background-repeat: repeat-x;
  background-position: top;
  */ }

div {
  padding: 0;
  margin: 0; }

div.liner {
  padding: 10px; }

div.pageliner {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px; }

div#page {
  margin-top: 10px;
  /*margin-left: 15%;*/
  width: 900px;
  border: 1px solid #eee;
  /*
  background-color: #ddd;
  */
  /*
  border: 1px solid black;
  background-color: white;
  background-position: top;
  background-image: url('../images/lens-flare-topdown.gif');
  background-repeat: repeat-x;
  */
  background-color: transparent;
  /*   min-height: 500px; */ }

div.headerdiv {
  height: 40px; }

div.footerdiv {
  /*
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  */
  background-position: bottom;
  background-image: url("../images/lens-flare-bottomup.gif");
  background-repeat: repeat-x;
  padding: 10px; }

div#logo-div {
  /*   
     position: absolute;
     top: 0;
     right: 0;
     margin: 20px 17px 0 0;
  */
  float: right;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 6; }

a#yhednlink, p#logotext, img#yhednlogo {
  width: 100px;
  border: none; }

h1, h2 {
  text-align: left;
  font-size: 1.2em;
  color: #666; }

table {
  width: 100%; }

th {
  width: 150px;
  color: #333; }

table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  text-align: left;
  padding: 10px; }

p {
  font-size: 1em;
  padding: 0;
  margin: 0;
  margin-top: 0.5em; }

p.logged {
  font-size: smaller;
  float: right; }

p.docdetails {
  font-weight: bold; }

p.footer {
  font-size: 0.7em;
  line-height: 1.3em;
  text-transform: uppercase; }

div#main {
  position: absolute;
  top: 0;
  left: 0;
  /*background-color:white;*/
  z-index: 3;
  width: 100%;
  margin: 0;
  padding: 0;
  /*min-height: 500px;*/
  padding-bottom: 10px; }

div.navbar {
  background-color: #ccf;
  border-bottom: 1px dotted #333;
  margin: 0;
  padding: 1px;
  height: 20px; }

div#screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 500px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8; }

div#dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 500px; }

div#dialog {
  background-color: white;
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  padding: 0;
  min-height: 300px;
  border: 1px solid #333; }

button {
  border: 1px solid #333;
  letter-spacing: 2px;
  font-weight: bold;
  color: #999;
  background-color: #fff;
  text-transform: uppercase;
  font-family: Arial, sans-serif; }

button:hover {
  color: #333;
  background-color: #ccc; }

button.disabled {
  border: 1px solid #999;
  letter-spacing: 2px;
  font-weight: bold;
  color: #999;
  background-color: #ccc;
  text-transform: uppercase;
  font-family: Arial, sans-serif; }

button.disabled:hover {
  color: #999;
  background-color: #ccc; }

button.close {
  float: right; }

body {
  font-family: Helvetica, sans-serif;
  line-height: 150%; }

div {
  text-align: left; }

div#content {
  background-color: transparent; }

div.s2hiddenparent {
  display: hidden;
  height: 0;
  overflow: none; }

#s2logo {
  float: right;
  height: 40px;
  margin: 0 2px 10px 0; }

#s2heading {
  float: left;
  font-family: Georgia, serif;
  font-size: 200%;
  font-weight: bold;
  margin: 10px 0 0 0; }

h1.s2rep_search-name {
  float: right;
  clear: right;
  font-family: Georgia, serif;
  color: #666;
  font-size: 1em;
  font-weight: normal;
  margin: 10px 0 0 0; }

div#speciescontainer {
  background-color: transparent; }

hr {
  padding: 0;
  margin: 0;
  height: 1px;
  clear: both; }

h2, h3 {
  font-family: Georgia, serif; }

h3 {
  text-transform: uppercase;
  line-height: 120%; }

#dialog button {
  /*float:right;*/
  margin: 5px 5px 5px 0; }

button.flipencrypt {
  float: left;
  margin: 10px 0 0 10px;
  padding: 2px 0 2px 0; }

button.flipextend {
  float: left;
  margin: 10px 0 0 10px;
  padding: 2px 0 2px 0; }

button.fliporder {
  float: left;
  margin: 10px 0 0 10px;
  padding: 2px 0 2px 0; }

button.flip {
  float: left;
  margin: 10px 0 0 10px;
  padding: 2px 0 2px 0; }

button.inlineexport {
  float: right;
  border: none;
  padding: 0;
  margin: 0 10px 0 10px;
  text-align: center;
  vertical-align: middle; }

button.inlineextender {
  float: right;
  border: none;
  padding: 0;
  margin: 0 10px 0 10px;
  text-align: center;
  vertical-align: middle; }

button.inlineextender img {
  width: 16px;
  height: 16px; }

button.inline {
  float: right;
  border: none;
  padding: 0;
  margin: 0 10px 0 10px;
  text-align: center;
  vertical-align: middle; }

button.inline img {
  width: 20px;
  height: 20px; }

button.s2iconbutton {
  float: right;
  padding: 0 0 0 0;
  margin: 0 5px 0 5px; }

button.s2delbutton {
  padding: 0 0 0 0;
  margin: 0 5px 0 5px; }

button.s2addbutton {
  float: right;
  padding: 0 0 0 0;
  margin: 0 5px 0 5px; }

button#s2_interfacebutton {
  float: right;
  padding: 0 0 0 0;
  margin: 0 5px 0 5px; }

#incontentdialog button {
  margin: 2px 0 2px 0; }

#incontentdialog input.tick {
  float: right;
  width: auto;
  margin: 4px 0 0 0;
  padding: 0;
  display: block; }

div.addinfo {
  display: none;
  height: 0; }

div.pagelinksdiv, div.searchbydiv {
  float: right;
  clear: right;
  border-left: 1px solid #ccc;
  padding: 0 3px 0 3px;
  margin: 1px; }

div.s2tooltip {
  padding: 10px 20px 10px 20px; }

div.s2_iHelp,
div.s2_iHelpV {
  padding: 5px;
  margin: 5px 0 5px 0;
  border: 1px solid #ccc; }

div.s2_iHelp {
  height: 30px;
  overflow: hidden; }

div.s2_iHelp * {
  display: none; }

div.s2_iHelp button {
  display: block;
  border: 1px solid transparent; }

div.s2_iHelp button:hover {
  display: block;
  border: 1px solid #999;
  background-color: #ccc; }

div.s2_iHelp button * {
  display: block; }

div.s2_iHelpV {
  height: auto;
  overflow: auto; }

div.s2_iHelpV * {
  display: block; }

table {
  border-collapse: collapse; }

table#calendartab {
  margin: 10px 0 10px 0; }

table.addform, table.listform {
  margin-bottom: 10px; }

tr {
  background-color: transparent; }

th.activity {
  text-transform: none;
  font-weight: normal;
  font-size: smaller; }

td input {
  /*border: 1px dotted #999;*/
  border: none;
  margin: 1px;
  padding: 2px;
  background-color: transparent;
  width: 96%; }

td textarea {
  /*border: 1px dotted #999;*/
  border: none;
  margin: 1px;
  padding: 2px;
  background-color: transparent;
  width: 96%;
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 150%; }

td select {
  width: 96%;
  margin: 1px; }

td.s2pp_completed {
  background-color: #cfc; }

td.s2pp_notrun {
  background-color: #ffd; }

td.s2pp_failed {
  background-color: #fcc; }

optgroup option {
  text-transform: none;
  font-size: 1em; }

optgroup {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  padding: 4px; }

th button {
  border: none;
  display: inline;
  background-color: transparent;
  text-transform: none; }

th button:hover {
  text-decoration: underline; }

ol.top-menu {
  margin: 0;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 3px; }

ol.top-menu li {
  display: inline;
  margin: 0;
  margin-right: 5px;
  padding: 0; }

ol.top-menu button {
  border: none;
  margin: 0;
  text-transform: none;
  font-weight: normal;
  padding: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: auto;
  overflow: visible; }

.viewmenu button {
  color: #666;
  border: none; }

li h3 {
  display: inline; }

.s2ul_intable {
  margin: 0 0 0 5px;
  padding: 0 0 0 0;
  list-style-type: none; }

.s2li_intable {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none; }

div.tabbedcontainer {
  margin-top: 20px; }

div.tabbedpane {
  display: none; }

div.tabbedpane h2 {
  margin-top: 20px; }

div#tabbedpane_current {
  display: block;
  margin-top: 0;
  padding: 10px 30px 10px 30px;
  overflow: auto; }

.aright {
  text-align: right; }

#top-menus div {
  padding: 2px;
  margin: 0 5px 5px 0;
  float: left; }

#top-menus h3 {
  display: inline; }

#top-menus h4 {
  display: inline; }

#top-menus button {
  border: none;
  text-transform: none;
  letter-spacing: -1px; }

#top-menus button.snc_menu_setting {
  float: left; }

#top-menus img.snc_menu_remove_setting {
  float: right;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 2px 0 2px 0; }

#left-menus {
  float: left;
  width: 200px;
  margin: 5px 0 10px 0; }

#left-menus h3 {
  margin: 5px 0 5px 0; }

#left-menus button, button.lmtype {
  text-transform: none;
  letter-spacing: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 2px; }

#left-menus button.showhide {
  float: right;
  margin: 0; }

.left-menu {
  margin: 5px 5px 5px 5px;
  padding: 5px; }

#left-menus h4 {
  margin: 6px 0 0 0; }

#left-menus ul {
  margin-left: 1.5em;
  padding-left: 0; }

#left-menus li {
  list-style-type: disc;
  margin-left: 0;
  padding: 0 5px 0 5px; }

#incontentdialog {
  clear: right;
  float: right;
  margin-right: 0;
  margin-bottom: 10px;
  width: 70%; }

.bordered {
  margin: 5px;
  padding: 10px 20px 10px 20px;
  width: auto; }

#content {
  clear: right; }

a.ListEntry:link,
a.ListEntry:visited {
  color: #006; }

a.ListEntry:hover,
a.ListEntry:active {
  text-decoration: underline;
  color: #336;
  cursor: hand; }

span.listnav {
  margin: 0 10px 0 10px;
  font-weight: bold;
  letter-spacing: 0; }

a.listnav {
  margin: 0 10px 0 10px;
  font-weight: bold;
  letter-spacing: 0; }

a.listnav:link,
a.listnav:visited {
  text-decoration: none; }

a.listnav:hover,
a.listnav:active {
  text-decoration: underline;
  cursor: hand; }

#left-menus h4 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1em; }

#left-menus li {
  padding: 0;
  margin: 0; }

table input.Short_Text,
table input.Number {
  border: none; }

table#calendartab {
  width: 300px; }

table#calendartab th,
table#calendartab td {
  padding: 2px 0 2px 0;
  margin: 0;
  vertical-align: middle;
  text-align: center; }

button.disabled {
  letter-spacing: 2px;
  font-weight: bold;
  font-family: Arial, sans-serif; }

img.s2_thumbnail {
  width: 120px; }

img.s2_medsize {
  width: 320px; }

a.s2_imglink {
  border: none; }

a.s2_imglink img {
  padding: 2px;
  margin: 1px; }

a.viewmenulink {
  white-space: nowrap; }

span.viewmenulink {
  margin-right: 5px;
  text-decoration: underline; }

div.s2filecontainer button,
div.qq-uploader button {
  border: none; }

/* potential workaround for IE5,6 cookie size limitations */
tr.s2_iDuplicate {
  background-color: #ffc; }

tr.s2_iImported {
  background-color: #cfc; }

tr.s2_iFailed {
  background-color: #fcc; }

tr.s2_iDuplicate td,
tr.s2_iImported td,
tr.s2_iFailed td {
  background-color: transparent; }

div.s2_iImportTable {
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 300px;
  overflow: auto;
  clear: both; }

.s2rep_search-name {
  float: right; }

.s2rep_section-container {
  border: 1px solid #ccc;
  /*
  border-left: none;
  border-right: none;
  */
  margin: 5px 0 40px 0;
  background-color: #eee; }

.s2_hiddensection {
  visibility: hidden;
  display: none;
  height: 0;
  width: 0; }

.s2_visiblesection {
  visibility: visible;
  display: block;
  height: auto;
  width: auto;
  margin: 0 0 30px 0;
  padding: 0 5px 0 5px; }

button.s2_expander {
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-left: 5px;
  padding: 0; }

/*
button.s2_expander:hover {
   background-color: #aaf;
}
*/
img.s2_expander {
  width: 14px;
  height: 14px;
  border: none;
  margin: 0;
  padding: 0; }

/*
 * Rewrite file list container to list scrollable files by date
 */
.s2filecontainer {
  overflow: scroll;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999; }
  .s2filecontainer .s2-upload-date {
    background-color: #ccc; }
    .s2filecontainer .s2-upload-date h4 {
      color: #333;
      margin: 0;
      padding: 0.2em 0.2em; }
    .s2filecontainer .s2-upload-date .s2-upload-file {
      clear: both;
      padding: 0.4em 0.2em 1em 0.2em; }
      .s2filecontainer .s2-upload-date .s2-upload-file:nth-child(odd) {
        background-color: #eef; }
      .s2filecontainer .s2-upload-date .s2-upload-file:nth-child(even) {
        background-color: #efe; }
      .s2filecontainer .s2-upload-date .s2-upload-file button {
        clear: right;
        float: right; }

.userData {
  behavior: url(#default#userData); }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Apr-2016, 17:19:01
    Author     : dan
*/
body {
  /* background-image: url("../images/textile3.gif");*/
  background-image: url("../images/hatch1.gif");
  background-repeat: repeat;
  background-color: white; }

div#page {
  /*border: 1px solid #eee;*/
  background-color: #fff; }

#s2heading {
  color: #333; }

hr {
  background-color: #eee;
  border: none;
  color: #eee; }

h3 {
  color: #666; }

.latin {
  font-style: italic;
  color: #600; }

.s2taxondictionary {
  list-style-type: disc; }

button.flipencrypt {
  /*
  border:none;
  background-color:transparent;
  */
  background-color: white;
  border: 1px solid #ccc; }

button.flipextend {
  /*
  border:none;
  background-color:transparent;
  */
  background-color: white;
  border: 1px solid #ccc; }

button.fliporder {
  background-color: white;
  border: 1px solid #ccc; }

button.flipexport {
  background-color: white;
  border: 1px solid #ccc; }

button.s2iconbutton {
  border: 1px solid #ccc; }

button.s2delbutton {
  background-color: transparent;
  color: #999;
  border: none; }

button.s2delbutton:hover {
  background-color: #fff;
  color: black;
  text-decoration: underline; }

button.s2addbutton {
  border: 1px solid #ccc; }

button#s2_interfacebutton {
  border: 1px solid #ccc; }

div.s2tooltip {
  border: 1px solid #999;
  background-color: #fff;
  background-image: url("../images/helptip_60px.gif");
  background-repeat: no-repeat;
  background-position: right;
  color: #333; }

div.s2_iHelp,
div.s2_iHelpV {
  border: 1px solid #999;
  background-color: #fff;
  background-image: url("../images/helptip_60px.gif");
  background-repeat: no-repeat;
  background-position: right; }

tr.currentversion,
td.currentversion {
  background-color: #ccc; }

tr.autodata,
td.autodata {
  background-color: #eee; }

td.autodata input,
td.currentversion input {
  color: black; }

th {
  border: 1px solid #ccc;
  background-color: #eef;
  color: #333; }

td {
  border: 1px solid #ccc;
  background-color: #fee;
  /* 
  background-color: transparent;
  background-position: top;
  background-image: url('../images/lens-flare-topdown.gif');
  background-repeat: repeat-x;
  */ }

button {
  border: 1px solid #333;
  color: #666;
  background-color: #fff; }

ol.top-menu li {
  border: 1px solid #999;
  border-top: none;
  border-bottom: none; }

ol.top-menu button:hover {
  background-color: #ccc;
  color: #333; }

div#tabbedpane_current {
  border: 1px solid #999; }

#top-menus div {
  /* border: 1px solid #666; */
  /*background-position: top;
  background-image: url('../images/lens-flare-topdown.gif');
  background-repeat: repeat-x;
  */
  border-right: 1px solid #999; }

#top-menus button {
  background-color: transparent;
  color: #666; }

#left-menus {
  /*
  background-position: bottom;
  background-image: url('../images/lens-flare-bottomup.gif');
  background-repeat: repeat-x;
  */
  border-right: 1px solid #eee; }

#left-menus button, button.lmtype {
  border: none;
  background-color: transparent;
  color: #333; }

#left-menus button:hover, button.lmtype:hover {
  color: #000;
  text-decoration: underline;
  background-color: #eee; }

#left-menus button.showhide {
  border: none;
  background-color: transparent; }

.left-menu {
  /* border: 1px solid #666; */
  background-color: white;
  /*
  background-position: bottom;
  background-image: url('../images/lens-flare-bottomup.gif');
  background-repeat: repeat-x;
  */ }

.bordered {
  border: 1px solid #666;
  background-color: #fff; }

.notbordered {
  border: none;
  background-color: transparent; }

a.ListEntry:link,
a.ListEntry:visited {
  color: #006; }

a.ListEntry:hover,
a.ListEntry:active {
  color: #336; }

span.listnav {
  color: #999; }

a.listnav {
  color: #000; }

button.disabled {
  border: 1px solid #333;
  color: #666;
  background-color: #ccc;
  text-transform: uppercase; }

button.disabled:hover {
  color: #666;
  background-color: #ccc; }

a.s2_imglink img {
  border: 1px solid #999; }

a.s2_txtlink {
  color: #006; }

a.s2_txtlink:hover {
  color: #336; }

span.viewmenulink {
  color: #000; }

.qq-uploader {
  position: relative;
  width: 100%; }

.qq-upload-button {
  display: inline-block;
  /* inline-block */
  padding: 2px 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #999;
  background: #fff;
  border: 1px solid #000; }

.qq-upload-button-hover {
  background: #ccc;
  color: #333; }

.qq-upload-button-focus {
  outline: 1px dotted black; }

.qq-upload-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 70px;
  z-index: 2;
  background: #FF9797;
  text-align: center; }

.qq-upload-drop-area span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -8px;
  font-size: 16px; }

.qq-upload-drop-area-active {
  background: #FF7171; }

.qq-upload-list {
  margin: 15px 35px;
  padding: 0;
  list-style: disc; }

.qq-upload-list li {
  margin: 0;
  padding: 0;
  line-height: 15px;
  font-size: 12px; }

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
  margin-right: 7px; }

.qq-upload-spinner {
  display: inline-block;
  background: url("../images/loading.gif");
  width: 15px;
  height: 15px;
  vertical-align: text-bottom; }

.qq-upload-size, .qq-upload-cancel {
  font-size: 11px; }

.qq-upload-failed-text {
  display: none; }

.qq-upload-fail .qq-upload-failed-text {
  display: inline; }

/*
div#map {
   height:300px;
   width:100%;
}
img#logo {
   border-color: #ccc;
   border-style: solid;
   border-width: 0 0 1px 1px;
   z-index: 20;
}
div#mapoutline {
   margin: 0;
   padding: 0;
}
div#maptools {
   margin:0;
   padding:0;
   border: none;
}
button.tool {
   float:left;
   clear:left;
   margin:5px;
}
div#mapcontainer {
   float:right;
   margin: 0;
   border: 1px solid red;   
}
*/
ul.navlist {
  display: inline; }

li.navlist, li.navlistc {
  display: inline;
  padding: 5px;
  vertical-align: middle;
  text-transform: uppercase;
  /*
  border: 1px solid #ccc;
  background-color: #eee;
  */
  border: none;
  background-color: transparent; }

li.navlist img.traffic {
  vertical-align: middle;
  height: 1em;
  width: 1em;
  padding: 0;
  margin: 0; }

div.bordered {
  clear: both;
  border: 1px solid #000;
  background-color: #fff;
  padding: 5px;
  margin: 5px 0 5px 0; }

button.vs_showhide {
  float: right;
  border: none;
  background-color: white; }

button.vs_showhide:hover {
  border: none; }

h2.vs_heading {
  float: left; }

div.bordered img.traffic {
  float: left;
  padding: 0;
  margin: 10px 10px 0 5px; }

table.debordered {
  margin: 3px; }

table.debordered th {
  border: 1px solid #000;
  padding: 5px;
  vertical-align: middle; }

table.debordered td {
  border: 1px solid #000; }

table.debordered input, table.debordered select {
  border-color: transparent; }

.s2gmaptdbutton {
  padding: 2px; }

div.maptools input.s2gmapcheck {
  width: 1em;
  margin: 5px 10px 5px 10px; }

.toolx {
  border: 1px solid #999;
  background-color: #ccf;
  padding: 3px 2px 3px 2px; }

.tool {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 3px 2px 3px 2px; }

.tool:hover {
  border: 1px solid #999;
  background-color: #ccf; }

.dbutton {
  float: right;
  margin: 5px  7px 5px 0;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 3px 2px 3px 2px; }

.dbutton:hover {
  border: 1px solid #999;
  background-color: #ccf; }

div.mapcontainer {
  display: block;
  /*border: 1px solid #cfc;*/
  /*float: left;*/ }

div.mapcontainer h4 {
  margin: 0 0 5px 0; }

div.mapcontainer table {
  margin: 0 0 5px 0; }

div.mapdiv {
  display: block;
  border: 1px solid #ccc;
  float: right;
  height: 400px; }

div.maptools {
  display: block;
  float: left; }

div.maptools input {
  width: 80px; }

div.maptools td,
div.maptools th {
  font-size: smaller; }

.pbar-container {
  padding: 1px;
  margin: 5px 0 5px 0;
  border: 1px solid #ccc; }

.pbar-bar {
  padding: 0;
  margin: 0;
  border: 0;
  background-image: url("../images/pb_background.gif");
  background-repeat: repeat-x;
  background-position: center;
  height: 12px !important;
  font-size: 8px; }

.pbar-status {
  padding: 0;
  margin: 0;
  border: 0;
  height: 12px !important;
  background-color: #6f6;
  font-size: 8px; }

.pbar-statustext {
  color: #009;
  background-color: #eee;
  font-family: Helvetica, sans-serif;
  font-size: 8px;
  line-height: 12px;
  text-align: right;
  float: right; }

.pbar-status .pbar-statustext {
  background-color: #cfc;
  border: 1px solid #6f6;
  border-right: 2px solid #6f6;
  line-height: 10px; }

div.userscontainer {
  border: none;
  margin: 0;
  padding: 0;
  z-index: 10; }

div.userscontainer table,
div.userscontainer tr,
div.userscontainer td,
div.userscontainer th {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-color: transparent;
  border: none;
  background-image: none; }

div.userscontainer ul {
  list-style: square outside;
  margin: 10px 0px 10px 20px; }

div.userscontainer table.menubar {
  background-color: #ccc;
  border: none;
  border-bottom: 1px solid #666;
  padding: 5px;
  width: 100%;
  float: none; }

div.userscontainer .propName {
  font-weight: bold; }

div.userscontainer td.propName {
  text-align: right; }

div.userscontainer tr.altRowBg {
  background-color: #EEEEEE; }

div.userscontainer tr.heading {
  font-size: 12px;
  background-color: #CCCCCC;
  font-weight: bold; }

div.userscontainer tr.tblHeading {
  font-size: 12px;
  background-color: #EEEEEE;
  font-weight: bold; }

div.userscontainer td.menuLabel {
  font-size: 12px;
  background-color: #CCCCCC;
  font-weight: bold; }

div.userscontainer td.menuText {
  font-size: 12px;
  background-color: #CCCCCC; }

div.userscontainer .formDesc {
  font-size: 11px; }

div.userscontainer .message,
div.userscontainer .errorMsg {
  color: #FF0000; }

/* Global Link Classes */
div.userscontainer a:active {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #1D5BB3;
  text-decoration: underline; }

div.userscontainer a:link {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #1D5BB3;
  text-decoration: underline; }

div.userscontainer a:hover {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #1D5BB3;
  text-decoration: underline; }

div.userscontainer a:visited {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #1D5BB3;
  text-decoration: underline; }

div.userscontainer a.buttonLink:hover,
div.userscontainer a.buttonLink:visited,
div.userscontainer a.buttonLink:link,
div.userscontainer a.buttonLink:active {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #1D5BB3;
  text-decoration: none;
  margin-right: 10px; }

div.userscontainer a.buttonLinkRight {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #1D5BB3;
  text-decoration: none;
  margin-left: 10px;
  float: right; }

div.userscontainer hr.catdiv {
  height: 1px;
  background: #FFFFFF;
  margin: 0px 0px 0px 0px; }

#erfooter {
  clear: both;
  float: left;
  background-image: url("../images/erfooter.gif");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: white;
  width: 100%;
  height: 100px; }

#erpage-liner {
  margin: 10px; }

.erpage-section {
  clear: both;
  border-bottom: 1px solid #eee;
  margin: 10px 0; }

/*# sourceMappingURL=s2screen.css.map */
