/*
div#map {
   height:300px;
   width:100%;
}
img#logo {
   border-color: #ccc;
   border-style: solid;
   border-width: 0 0 1px 1px;
   z-index: 20;
}
div#mapoutline {
   margin: 0;
   padding: 0;
}
div#maptools {
   margin:0;
   padding:0;
   border: none;
}
button.tool {
   float:left;
   clear:left;
   margin:5px;
}
div#mapcontainer {
   float:right;
   margin: 0;
   border: 1px solid red;   
}
*/

ul.navlist {
   display: inline;
} 

li.navlist, li.navlistc {
   display: inline;
   padding: 5px;
   vertical-align: middle;
   text-transform: uppercase;
   /*
   border: 1px solid #ccc;
   background-color: #eee;
   */
   border:none;
   background-color: transparent;   
}
li.navlist img.traffic {
   vertical-align: middle;
   height: 1em;
   width: 1em;
   padding: 0;
   margin: 0;
}
div.bordered {
   clear: both;
   border: 1px solid #000;
   background-color: #fff;
   padding: 5px;
   margin: 5px 0 5px 0;
}
button.vs_showhide {
   float:right;
   border: none;
   background-color: white;
}
button.vs_showhide:hover {
   border: none;
}
h2.vs_heading {
   float:left;
}
div.bordered img.traffic {
   float:left;
   padding: 0;
   margin: 10px 10px 0 5px;
}

table.debordered {
   margin: 3px;
}
table.debordered th {
   border: 1px solid #000;
   padding: 5px;
   vertical-align: middle;
} 
table.debordered td {
   border: 1px solid #000;
}
table.debordered input,table.debordered select {
   border-color: transparent;
}
.s2gmaptdbutton {
   padding: 2px;
}
div.maptools input.s2gmapcheck {
   width: 1em;
   margin: 5px 10px 5px 10px;   
}
.toolx {
   border: 1px solid #999;
   background-color: #ccf;
   padding: 3px 2px 3px 2px;
}
.tool {
   border: 1px solid #ccc;
   background-color: #fff;
   padding: 3px 2px 3px 2px;
}
.tool:hover {
   border: 1px solid #999;
   background-color: #ccf;
}
.dbutton {
   float:right;
   margin: 5px  7px 5px 0;
   border: 1px solid #ccc;
   background-color: #fff;
   padding: 3px 2px 3px 2px;
}
.dbutton:hover {
   border: 1px solid #999;
   background-color: #ccf;
}
div.mapcontainer {
   display: block;
   /*border: 1px solid #cfc;*/
   /*float: left;*/
}
div.mapcontainer h4 {
   margin: 0 0 5px 0;
}
div.mapcontainer table {
   margin: 0 0 5px 0; 
}


div.mapdiv {
   display: block;
   border: 1px solid #ccc;
   float: right;
   height: 400px;
}
div.maptools {
   display: block;
   float: left;
}
div.maptools input {
   width: 80px;
}
div.maptools td,
div.maptools th {
   font-size: smaller;
} 
